@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

.italiana-regular {
  font-family: "Italiana", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
}


.urbanist-regular {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  font-style: normal;
}